.invader, .help-box {
    width: 64px;
    height: 32px;
    background: url(../img/spaceinvaders.png);
    background-size: cover;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(16px);
}