.intro {
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: white;
    justify-content: center;
    display: flex;
}
.intro div {
    padding-bottom: 100px;
    height: 100%;
    background: url('../img/intro-bg.jpg') no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    max-height: 80%;
    align-self: center;
}
@media screen and (max-width: 768px) {
    .intro div {
        background-size: 100% auto !important;
        background: url('../img/intro-bg-mobile.jpg') no-repeat center center;
    }
}