.intro {
    width: 100vw;
    height: 100vh;
    background: url('../img/intro-bg.jpg') no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hard-light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color: white;
    justify-content: center;
    display: flex;
    align-items: end
}
.intro div {
    padding-bottom: 100px;
}