RewriteEngine on
RewriteCond %{HTTP_HOST} ^linhaamarela.herokuapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^linhaamarela.herokuapp.com$
RewriteCond %{REQUEST_URI} !src/
RewriteRule ^(.*)$ /src/index.php [QSA,L]