RewriteEngine on
RewriteCond %{HTTP_HOST} ^linhaamarela.orgfree.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^linhaamarela.orgfree.com$
RewriteCond %{REQUEST_URI} !src/
RewriteRule ^(.*)$ /src/index.php [QSA,L]